body {
	background-color: lightgoldenrodyellow;
	-webkit-font-smoothing: antialiased;
}

#classic {
	/* background-color: black; */
	display: grid;
	grid-template-rows: 200px 200px;
	grid-template-columns: 200px 200px;
}

#classic .button {
	background-color: black;
	margin: 2px;
	/* shape-margin: ; */
	padding: 5px;
	/* border-radius: 50%; */
}

#classic .button:hover {
	transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transition: 0.3s;
}
