body {
	background-color: lightgoldenrodyellow;
}

#classic {
	/* background-color: black; */
	display: grid;
	grid-template-rows: 200px 200px;
	grid-template-columns: 200px 200px;
}

#classic .button {
	background-color: black;
	margin: 2px;
	/* shape-margin: ; */
	padding: 5px;
	/* border-radius: 50%; */
}
